body,html {
    display: flex;
    justify-content: center;
    background-color: black;
}

div {
    border: 1px solid lightskyblue;
    border-radius: 5px;
}

#calculator {
    margin-top: 50px;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#screen {
    height: 80px;
    width: 400px;
    align-self: center;
    background-color: lightgray;
}

.row {
    display: flex;
    height: 70px;
    justify-content: space-evenly;
    border: 0px;
}

.button {
    width: 110px;
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-color: lightskyblue;

}

#multiply {
    padding-top: 15px;

}
#row_five {
    justify-content: space;
}
#zero {
    flex: 2;
    margin-left: 11px;
    margin-right: 12px;
}

#period {
    /* flex: 1; */
    margin-right: 6px;
}

#enter {
    /* flex: 1; */
    margin-right: 11px;
    margin-left: 6px;
}


